@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');


main {
    background: rgb(67,58,160);
    background: linear-gradient(45deg, rgba(67,58,160,1) 0%, rgba(73,130,181,1) 50%, rgba(78,196,201,1) 100%); 
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 10%;
    background-color: rgb(106, 156, 139);
    border-radius: 10px;
}

#tudo {
    height: 191px;
    width: 227px;
    position: absolute;
    top: 110px;
    left: 74px;
}

#numeros {
    height: 100px;
    width: 226px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#primeiro-um {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 12.5px;
    height: 40px;
    width: 20px;
    background: #fff;
    border-radius: 3px;
    transform: rotate(50deg);
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

#segundo-um {
    position: absolute;
    z-index: 10;
    background: #fff;
    height: 100px;
    width: 25px;
    left: 30px;
    border-radius: 3px;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
}

#primeiro-zero, #segundo-zero{ 
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 8;
    top: 0px;
    left: 39px;
    box-sizing: border-box;
    border: 24px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.2);
    
}

#segundo-zero {
    position: absolute;
    left: 120px;
    z-index: 5;
}

#texto {
    width: 206px;
    padding: 10px;
    position: absolute;
    left: 0%;
    bottom: -10px;
}

#texto > h1 {
    color: rgb(255, 255, 255);
    font-family: 'Courier Prime', monospace;
    font-weight: lighter;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 5.3em;
    margin: 0px;
    letter-spacing: 3px;
}

#texto > p {
    font-family: 'Courier Prime', monospace;
    text-align: center;
    position: absolute;
    bottom: 9px;
    left: 31px;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
}

p#css {
    position: absolute;
    left: 10px;
    letter-spacing: 2px;
}

p#challenge {
    position: absolute;
    right: -42px;
    letter-spacing: 2px;
}